:root {
    --sipgateio-pink: #ff64dc;
}

body {
    background-color: lightgrey;
}

.grid {
    display: grid;
    grid-template-columns: 100px repeat(4, 80px) 100px;
    grid-template-rows: repeat(11, 80px) auto;
    margin: 0 auto;
    margin-top: 4vh;
    justify-content: center;
    gap: 16px;
}

.grid-index {
    align-self: center;
    justify-self: center;
    font-size: 24px;
}

.grid-circle {
    background-color: white;
    color: #202020;
    border-radius: 100px;
    font-weight: 300;
    font-size: 32px;
}

.grid-guess-feedback {
    display: grid;
    gap: .5rem;
    place-content: center;
    grid-template-columns: repeat(2, auto);
}

.grid-guess-feedback__circle {
    width: 1rem;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.rightPlace {
    background-color: var(--sipgateio-pink);
}

.wrongPlace {
    background-color: #000000;
}

.grid-circle__active {
    border: .07em solid transparent;
    background-color: var(--sipgateio-pink);
    color: white;
    font-weight: 400;
}

.grid-time {
    grid-column: 2 / 7;
    align-self: center;
    font-size: 42px;
    font-weight: 300;
}

.grid-message {
    grid-column: 1 / 7;
    display: flex;
}

.controls {
    margin: 24px 0px;
    color: rgb(78, 78, 78);
    display: flex;
}

.controls>div {
    margin: 0px 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.controls>div>*:nth-child(1) {
    margin-right: 6px;
}

.controls-hash>*:nth-child(1) {
    margin-right: 2px !important;
}

.feedback {
    background-color: var(--sipgateio-pink);
    color: white;
    padding: 24px 64px;
    border-radius: 99px;
    font-size: 24px;
    font-weight: 500;
}