:root {
    --sipgateio-pink: #e675ac;
}

body {
    background-color: rgb(0, 0, 0);
}

.gridWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(11, 1fr) auto;
    justify-content: center;
    column-gap: 2.5vw;
    row-gap: 2.9vw;
    margin-top: 2vh;
}

.grid-index {
    font-size: 3.3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vw;
}

.grid-circle {
    background-color: white;
    color: #202020;
    font-weight: 300;
    font-size: 3.3vh;
    aspect-ratio: 1;
}

.grid-guess-feedback {
    display: grid;
    gap: 2vw;
    place-content: center;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    margin-left: 1vw;
}

.grid-guess-feedback__circle {
    width: 3vw;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
}

.rightPlace {
    background-color: #52a374;
}

.wrongPlace {
    background-color: #5e5e5e;
}

.grid-circle__active {
    border: .07em solid transparent;
    background-color: var(--sipgateio-pink);
    color: white;
    font-weight: 400;
}

.grid-time {
    grid-column: 2 / 7;
    align-self: center;
    font-size: 4.235vh;
}

.grid-message {
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
}

.controls {
    color: rgb(255, 255, 255);
    display: flex;
}

.controls>div {
    margin: 0px 24px;
    display: flex;
    align-items: center;
}

.controls-star, .controls-hash {
    font-size: 2vh;
    line-height: 1vh;
}

.controls-star>span:nth-child(1) {
    font-size: 5vh;
    margin-top: 2.5vh;
}

.controls-hash>span:nth-child(1) {
    font-size: 4vh;
    margin-top: 0.4vh;
}

.controls>div>*:nth-child(1) {
    margin-right: 6px;
}

.controls-hash>*:nth-child(1) {
    margin-right: 2px !important;
}

.feedback {
    background-color: var(--sipgateio-pink);
    color: white;
    padding: 24px 64px;
    border-radius: 99px;
    font-size: 24px;
    font-weight: 500;
}

.gridMessage {
    flex: 1;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.gridMessageControls {
    align-items: flex-start;
}

.gridMessageText {
    background-color: #7D77AC;
    font-family: ff-nexus-typewriter, sans-serif;
    font-size: 1.9vh;
    align-items: center;
}

.gridMessageText > span {
    margin-top: -2.2vh;
}
