.textLayout {
    padding: 2.8vh 6vh; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textLayoutHeading {
    font-size: 4vh;
}

.disclaimerText {
    font-family: ff-nexus-typewriter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4vh;
    margin-top: 3vh;
    font-size: 0.8vh;
}

.textLayoutFooter {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding-bottom: 8vh;
}

.textLayoutControl>div {
    display: flex;
    align-items: center;
}

.textLayoutControlStar{
    font-size: 2vh;
}

.textLayoutControlStar>span:nth-child(1) {
    font-size: 5vh;
    margin-top: 2.5vh;
}