#introduction {
    margin: 0 auto;
    margin-top: 5vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction_logo {
    width: 300px;
}

#introduction_call_to_action {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

#introduction_call_number {
    color: #1086fc;
    font-weight: 600;
}